<div style="margin:auto !important; max-width:700px !important;">


<form action="/data" method = "POST">
    <p>First name <input type = "text" name = "FirstName" /></p>
    <br>
    <p>Last name <input type = "text" name = "LastName" /></p>
    <br>
    <p>Postcode <input type = "text" name = "Postcode" /></p>
    <br>
    <p>I am comfortable repeatedly lifting 12kgs <select name="Lift12kgs">
                                                    <option value="true">True</option>
                                                    <option value="false">False</option>
                                                    </select>
    <!--<input type="checkbox" name="lift12kgs" value="True"> -->
    </p>
    <br>
    <p>Do you have a drivers license? <select name="License">
                                                    <option value="true">True</option>
                                                    <option value="false">False</option>
                                                    </select>
    <!--<input type="checkbox" name="license" value="True">-->
    </p>

    <p>Email address<input type = "text" name = "Email" /></p>
    <br>
<p>Please upload a video CV that responds to the following prompts:</p>
<ul>
    <li>
        How are you doing?
    </li>
    <li>
        Tell us about yourself.
    </li>
    <li>
        Tell us about a time that you demonstrated leadership.
    </li>
    <li>
        Tell us about a time when you were working on a team and you were faced with a challenge. How did you solve the problem?
    </li>
</ul>
<br>

    <p>YouTube link <input type = "text" name = "Youtube" /></p>
    <p><input type = "submit" value = "Submit" /></p>

</form>


</div>